@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --azul100: #001489;
    --azul70: #4C5AAC;
    --azul20: #CCD0E7;
    --azul05: #F2F3F9;
    --font: #383838;
    --bg: #EEEEEE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    height: 100vh;
    background-color: var(--bg);
}

#imgCima {
    position: fixed;
    display: flex;
}

#imgBaixo {
    position: fixed;
    right: 0;
    bottom: 0;    
    display: flex;
}
div>img {
    width: 15rem;
    margin: 10px;
}
main {
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}

#titleSpot {
    color: #383838;
    letter-spacing: 0.48px;
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: 2rem;
}
article {
    display: flex;
}
.room {
    cursor: pointer;
}
.room img {
    margin-inline: 2rem;    
}
.room p {
    text-align: center;
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: center;
}
.room span {
    font-size: 15px;
    padding-inline: 5px;
}
