@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --azul100: #001489;
    --azul70: #4C5AAC;
    --azul20: #CCD0E7;
    --azul05: #F2F3F9;
    --font: #383838;
    --bg: #EEEEEE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    height: 100vh;
    background-color: var(--bg);
}

#imgCima>img {
    position: fixed;
    margin-left: 15px;
    margin-top: 15px;
    opacity: .6;
    width: 19rem;
}

#imgBaixo {
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
}

#imgBaixo>img {
    margin-bottom: 15px;
    margin-right: 15px;
    opacity: .6;
    width: 19rem;
}

main {
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#titleSpot {
    color: var(--font);
    letter-spacing: 0.48px;
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: 2rem;
}

section {
    display: flex;
    gap: 3rem;
}

.room {
    cursor: pointer;
}