@media screen and (max-width: 600px) {
    #header-pgn {
        display: flex;
        justify-content: center;
    }

    #header-pgn h1 {
        font-size: 1.5rem;
    }

    #header-pgn>div {
        display: none;
    }

    #voltar {
        margin-block: 1rem;
        font-size: .9rem;
    }

    .material-symbols-outlined {
        font-size: 1rem;
    }

    main {
        height: auto;
        padding: 0;
        margin-inline: 3rem;
        display: block;
    }

    #barra-lateral {
        display: none;
    }

    .wrapper {
        width: auto;
    }

    .wrapper #headerCalendario {
        padding: .9rem;
    }

    #headerCalendario .current-date {
        font-size: 1rem;
    }

    .calendar {
        padding: 0 .9rem .9rem .9rem;
    }

    .calendar .weeks li {
        font-size: .8rem;
    }

    .calendar .days li {
        font-size: .8rem;
    }

    #conteudo {
        flex-direction: column;
        gap: 2rem;
    }

    #container-filtros {
        width: auto;
        margin-block: 1rem;
    }

    #headerFiltros {
        padding-left: 0;
        text-align: center;
        font-size: .9rem;
    }

    #filtros {
        grid-template-columns: 45% 45%;
        gap: 1rem;
        padding-inline: 0;
    }

    #horario-cadeiras {
        margin-right: 0;
        padding-right: 0;
    }

    #horario-cadeiras,
    #datas {
        display: grid;
        gap: 1rem;
        grid-template-rows: repeat(3, 25%);
        align-items: center;
    }

    #form_horario_inicio,
    #form_horario_termino {
        padding: 0;
    }

    #form_horario_inicio,
    #form_horario_termino,
    #label-cadeiras {
        display: flex;
        flex-direction: column;

    }

    #form_horario_inicio>input,
    #form_horario_termino>input,
    #recorrencia-selecionada>p>input,
    select {
        width: max-content;
        margin-left: 0;
        margin-top: .3rem;
    }

    #container-checkbox {
        margin: 0;
    }

    #container-checkbox>p {
        align-self: normal;
    }

    #recorrencia-selecionada {
        margin: 0;
        margin-left: .5rem;
    }

    .sala {
        align-items: center;
        gap: .5rem;
        padding-inline: .5rem;
        width: 100%;
    }

    #container-info-sala {
        display: grid;
        grid-template-columns: repeat(3, 32%);
        gap: .5rem;
        align-items: center;
        text-align: center;
        font-size: .8rem;
        justify-content: center;
    }

    #container-info-sala p {
        padding-inline: .3rem;
    }

    #span-tv {
        padding: 0;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {

    #header-pgn {
        justify-content: space-between;
        display: flex;
    }

    #header-pgn h1 {
        font-size: 1.5rem;
    }

    #header-pgn>div {
        order: 2;
    }

    #voltar {
        margin-block: 1rem;
        font-size: 1rem;
    }

    .material-symbols-outlined {
        font-size: 1.2rem;
    }

    main {
        height: auto;
        padding: 0;
        margin-inline: 5rem;
        display: block;
    }

    #barra-lateral {
        display: none;
    }

    .wrapper {
        width: auto;
    }

    .wrapper #headerCalendario {
        padding: 1rem;
    }

    #headerCalendario .current-date {
        font-size: 1.1rem;
    }

    .calendar {
        padding: 0 1rem 1rem 1rem;
    }

    .calendar .weeks li {
        font-size: .9rem;
    }

    .calendar .days li {
        font-size: .9rem;
    }

    #conteudo {
        flex-direction: column;
        gap: 2rem;
    }

    #container-filtros {
        width: auto;
        margin-block: 1rem;
        gap: .6rem;
    }

    #headerFiltros {
        font-size: 1rem;
    }

    #filtros {
        grid-template-columns: 45% 45%;
        gap: 1rem;
        padding-inline: 0;
    }

    #horario-cadeiras {
        margin-right: 0;
        padding-right: 0;
    }

    #horario-cadeiras,
    #datas {
        display: grid;
        gap: 1rem;
        grid-template-rows: repeat(3, 22%);
        align-items: center;
    }

    #form_horario_inicio,
    #form_horario_termino {
        padding: 0;
    }

    #container-checkbox {
        margin: 0;
    }

    #container-checkbox>p {
        align-self: normal;
    }

    #recorrencia-selecionada {
        margin: 0;
        margin-left: .5rem;
    }

    .sala {
        align-items: center;
        gap: .7rem;
        padding-inline: .5rem;
        width: 100%;
    }

    #container-info-sala {
        display: grid;
        grid-template-columns: repeat(3, 30%);
        width: 100%;
    }

    #container-info-sala p {
        justify-self: center;
        font-size: .8rem;
    }

    #span-tv {
        padding: 0;
        border: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        height: 100%;
        grid-template-rows: 4rem 88%;
        gap: 1rem;
    }

    #header-pgn {
        justify-content: space-between;
        display: flex;
    }

    #header-pgn h1 {
        font-size: 1.5rem;
    }

    #header-pgn>div {
        order: 2;
    }

    #voltar {
        font-size: 1rem;
    }

    .material-symbols-outlined {
        font-size: 1.2rem;
    }

    #barra-lateral {
        display: none;
    }

    main {
        height: auto;
        margin-inline: 3rem;
    }

    #conteudo {
        display: grid;
        grid-template-areas:
            "calendario filtros"
            "salas salas";
        grid-template-columns: 51% 40%;
        gap: 1rem;
        grid-template-rows: 52%;
    }

    .wrapper {
        grid-area: calendario;
        width: 100%;
    }

    .wrapper,
    #container-filtros {
        grid-row: 1 / 3;
    }

    .calendar .days li {
        margin-top: 25px;
    }

    #container-filtros {
        width: 100%;
        height: 100%;
    }

    #filtros {
        display: block;
    }

    #container-botoes {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: auto;
    }

    #container-salas {
        grid-area: salas;
        grid-row: 3;
    }

    #horario-cadeiras {
        border: none;
    }

    #datas {
        margin-top: 1rem;
    }

    #horario-cadeiras,
    #datas {
        display: grid;
        gap: .8rem;
    }

    #container-checkbox,
    #recorrencia-selecionada {
        margin: 0 0 0 .5rem
    }

}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    #header-pgn {
        justify-content: space-between;
        display: flex;
    }

    #header-pgn h1 {
        font-size: 1.5rem;
    }

    #header-pgn>div {
        order: 2;
    }

    main {
        display: grid;
        height: auto;
        grid-template-columns: 10% 1fr;
        align-items: normal;
    }

    #barra-lateral {
        height: 100%;
        width: 100%;
    }

    #barra-lateral>img {
        width: 100%;
        height: 100%;
    }

    #voltar {
        margin: 1.5rem;
        font-size: 1rem;
    }

    .material-symbols-outlined {
        font-size: 1.2rem;
    }

    #conteudo {
        display: grid;
        grid-template-areas:
            "calendario filtros"
            "salas salas";
        grid-template-columns: 45% 40%;
        gap: 1.5rem;
    }

    .wrapper {
        grid-area: calendario;
        width: 100%;
    }

    .wrapper,
    #container-filtros {
        grid-row: 1 / 3;
    }

    .wrapper #headerCalendario {
        padding: 1rem;
    }

    .calendar {
        padding: .5rem;
    }

    .calendar .days {
        margin-bottom: 1rem;
    }

    .calendar .days li {
        margin-top: 1.6875rem;
    }

    .days {
        margin: 0;
    }

    #container-filtros {
        width: 100%;
        height: 100%;
    }

    #filtros {
        display: block;
    }

    #container-botoes {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: auto;
    }

    #container-salas {
        grid-area: salas;
        grid-row: 3;
    }

    #horario-cadeiras {
        border: none;
    }

    #datas {
        margin-top: 1rem;
    }

    #horario-cadeiras,
    #datas {
        display: grid;
        gap: .8rem;
    }

    #container-checkbox,
    #recorrencia-selecionada {
        margin: 0 0 0 .5rem
    }
}

@media screen and (min-width: 1200px) {

    #container {
        margin-inline: 2rem;
        height: 90%;
    }

    #conteudo {
        display: grid;
        grid-template-areas:
            "calendario filtros"
            "calendario salas";
        grid-template-columns: 45% 50%;
        grid-template-rows: 45% 45%;
        gap: 1rem;
        height: 95%;
    }

    .wrapper {
        grid-area: calendario;
        width: 100%;
    }

    #container-filtros {
        grid-area: filtros;
        width: 100%;
    }

    #filtros {
        margin-top: .5rem;
        margin-inline: .5rem;
        padding: 0;
    }

    #container-botoes {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: auto;
    }

    #horario-cadeiras,
    #datas {
        display: grid;
        gap: .6rem;
        grid-template-rows: repeat(3, calc(90% / 3));
    }

    #container-checkbox {
        align-items: center;
    }

    #container-checkbox,
    #recorrencia-selecionada {
        margin: 0 0 0 .5rem
    }

    #container-salas {
        grid-area: salas;
        grid-row: 2;
        height: 100%;
    }

}