@media screen and (max-width: 600px) {

    #imgCima>img,
    #imgBaixo>img {
        width: 12rem;
    }

    main {
        z-index: 2;
        position: relative;
    }

    #titleSpot {
        font-size: 1.5rem;
    }

    section {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .room>img {
        width: 9rem;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {

    #imgCima>img,
    #imgBaixo>img {
        width: 13rem;
    }

    #titleSpot {
        font-size: 1.6rem;
    }

    section {
        gap: 2rem;
    }

    .room>img {
        width: 10rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {

    #imgCima>img,
    #imgBaixo>img {
        width: 15rem;
    }

    #titleSpot {
        font-size: 1.8rem;
    }

    section {
        gap: 2rem;
    }

    .room>img {
        width: 13rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {

    #imgCima>img,
    #imgBaixo>img {
        width: 16rem;
    }

    main {
        gap: 1rem;
    }

    section {
        gap: 3rem;
    }

    .room>img {
        width: 14rem;
    }
}

@media screen and (min-width: 1200px) {
    .room>img {
        width: 15rem;
    }
}